@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import "tailwindcss";

@import "./style/tiptap-overrides.css";

* {
  font-family: 'Roboto', sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

::selection {
background-color:#36005a;
}
.withMargin{
margin-bottom:100px;
}

